---
import TableTugas from "$lib/components/table-tugas.svelte";
import { Separator } from "$lib/components/ui/separator";
import DefaultLayout from "$lib/layouts/default-layout.astro";

import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

const { matkul } = Astro.params;
if (matkul === undefined) throw new Error("link tidak valid");

const entry = await getEntry("mata-kuliah", matkul);
if (entry === undefined) throw new Error("mata kuliah tidak ditemukan");

const {
  id,
  data: { nama },
} = entry;

const tugas = await getCollection(
  "tugas",
  ({ data }) => data["mata-kuliah"].id === matkul
).then((tugas) => tugas.map(({ data, slug }) => ({ ...data, slug })));
---

<DefaultLayout>
  <div class="sm:flex items-end space-x-2">
    <h1
      class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl uppercase"
    >
      {id}
    </h1>
    <p class="text-muted-foreground text-xl">{nama}</p>
  </div>

  <Separator class="my-4" />

  <TableTugas client:load matkul={nama} {tugas} />
</DefaultLayout>
