---
import GridCardTugas from "$lib/components/grid-card-tugas.svelte";

import { Separator } from "$lib/components/ui/separator";
import DefaultLayout from "$lib/layouts/default-layout.astro";
import type { ListTugas } from "$lib/types";

import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

const { mata_kuliah } = Astro.params;
if (mata_kuliah === undefined) throw new Error("link tidak valid");

const entry = await getEntry("mata-kuliah", mata_kuliah);
if (entry === undefined) throw new Error("mata kuliah tidak ditemukan");

const allTugas: ListTugas = (
  await getCollection(
    "tugas",
    ({ data }) => data["mata-kuliah"].id === mata_kuliah
  )
).map(({ slug, data }) => ({ ...data, id: slug }));
---

<DefaultLayout
  title=`Daftar Tugas ${mata_kuliah.toUpperCase()}`
  breadcrumbs={[{ label: mata_kuliah }]}
>
  <div class="sm:flex items-end space-x-2">
    <h1
      class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl uppercase"
    >
      {entry.id}
    </h1>
    <p class="text-muted-foreground text-xl">{entry.data.nama}</p>
  </div>

  <Separator class="my-4" />

  <GridCardTugas client:load {allTugas} />
</DefaultLayout>
