---
import type { Props as DefaultLayoutProps } from "./default-layout.astro";

import GridCardTugas from "$lib/components/grid-card-tugas.svelte";
import { Separator } from "$lib/components/ui/separator";
import DefaultLayout from "$lib/layouts/default-layout.astro";
import type { Tugas } from "$lib/types";

interface Props extends DefaultLayoutProps {
  heading1: string;
  heading2: string;
  allTugas: Tugas[];
  displaySubject: boolean;
}

const { heading1, heading2, allTugas, displaySubject } = Astro.props;
---

<DefaultLayout {...Astro.props}>
  <div class="items-end space-x-2 sm:flex">
    <h1
      class="scroll-m-20 text-4xl font-extrabold uppercase tracking-tight lg:text-5xl"
    >
      {heading1}
    </h1>
    <p class="text-xl text-muted-foreground">{heading2}</p>
  </div>

  <Separator class="my-4" />

  <GridCardTugas client:load {allTugas} {displaySubject} />
</DefaultLayout>
